body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  padding: 16px;
}

.border-box {
  border: var(--border-width, 4px) solid var(--border-color, transparent);
  border-radius: var(--border-radius, 16px);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: var(--background-image, linear-gradient(to right, #222, #222), linear-gradient(90deg, #8F41E9, #578AEF));
}
